{% extends 'base.html' %}
{% block title %}Inventarverwaltung - LauneTracker{% endblock %}
{% block content %}
<style>
  h1 { color: #333; }
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 300px;
    margin: auto;
  }
  label { margin-bottom: 8px; }
  .no-items-message {
    color: #555;
    margin-top: 20px;
    text-align: center;
  }
</style>
<div class="container mt-4">
  <h1 class="display-4 d-flex justify-content-center w-100">Inventarverwaltung</h1>
  <form action="{{ url_for('add_item') }}" method="post" class="mt-4">
    <div class="mb-3">
      <label for="item_name" class="form-label">Artikelname:</label>
      <input type="text" name="item_name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Menge:</label>
      <input type="number" name="quantity" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Preis:</label>
      <input type="number" name="price" step="0.01" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success mt-3">Hinzufügen</button>
  </form>
  {% if items %}
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Artikelname</th>
        <th scope="col">Menge</th>
        <th scope="col">Preis</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>
          <a href="{{ url_for('update_item', item_id=item._id) }}" class="btn btn-warning btn-sm">Bearbeiten</a>
          <a href="{{ url_for('delete_item', item_id=item._id) }}" class="btn btn-danger btn-sm">Löschen</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="no-items-message display-6">Keine Artikel vorhanden.</p>
  {% endif %}
</div>
{% endblock %}
